.navbar{
    margin-top: -1em;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(168, 33, 33);
    overflow: hidden;
}

.navbar li {
    float: left;
    color: white;
    padding: 10px;
}